/sentenciaIf/nbproject/private/
/sentenciaIf/build/
/switch/nbproject/private/
/switch/build/
/Arreglo/nbproject/private/
/Arreglo/build/
/tutorias/nbproject/private/
/tutorias/build/
/JavaApplication13/nbproject/private/
/arregloSumaPares/nbproject/private/
/arregloSumaPares/build/
/ArrayTabla/nbproject/private/
/ArrayTabla/build/
/JavaApplication13/build/
/POOClases/target/
/POOinformacion/target/
/POOPares/target/
/PROYECTO AREA/nbproject/private/
/POOSuma/nbproject/private/
/POOSuma/build/
/POOBanco/nbproject/private/
/POOBanco/build/
/Personas/nbproject/private/
/Personas/build/
/POOArreglo/nbproject/private/
/POOArreglo/build/
/POOVectorE/nbproject/private/
/POOVectorE/build/
